@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    @{ if (User.Identity.IsAuthenticated)
        {
            <h3>Hybrid Flow Authentication Success</h3>
        }}
    <p>Pull data from <a href="~/Home/SecureData">WebAPIs</a>.</p>
</div>