@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We're going to spam the fuck out of your email accounts and you're just going to have to bend over and take it.</p>
